# Actividades clase 4

### Eduardo Aguirre Fraire 8/22/24

# 1. Toma el archivo datosCT.xlsx 

 
calcula la Utilidad (Ingreso - Gasto)

encuentra el promedio de Gastos en los meses que la Utilidad fue negativa

encuentra los ingresos totales del a√±o

In [16]:
import pandas as pd

In [17]:
Matrices4 = pd.read_excel("datosCT (1).xlsx")
Matrices4

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

In [18]:
Matrices4["UTILIDADES"] = Matrices4["Ingreso"] - Matrices4["Gasto"]
Matrices4

    Unnamed: 0  Ingreso  Gasto  UTILIDADES
0        Enero     1340   1880        -540
1      Febrero     2590   3130        -540
2        Marzo     3570   2140        1430
3        Abril     4450   3370        1080
4         Mayo     1330   2990       -1660
5        Junio     1610   1970        -360
6        Julio     1500   2230        -730
7       Agosto     2270   1240        1030
8   Septiembre     1910   1470         440
9      Octubre     2120   2280        -160
10   Noviembre     3950   1870        2080
11   Diciembre     1380   3140       -1760

In [19]:
Uti_negativa = Matrices4[Matrices4["UTILIDADES"]<0]

In [21]:
np.mean(Uti_negativa["Gasto"])

2517.1428571428573

In [22]:
sum(Matrices4["Ingreso"])

28020

# 2.  Crea las siguientes estructuras usando numpy:

In [3]:
import numpy as np

In [14]:
A = np.array([
    [1,2],
    [3,4]
])

In [12]:
b = np.array([
    [2],
    [4]
])

In [15]:
A @ b

array([[10],
       [22]])

In [ ]:
![]()