## ATIVIDAD 11

### EDUARDO AGUIRRE FRAIRE 
#### EXPEDIENTE : 751100

In [33]:
# 1
import numpy as np
def f1(x):
    return (np.log(1.5+np.sin(x**2)))/(x*np.exp(-x**2))

In [34]:

n = 1000000

In [35]:
def montecarlo_tipo1(f,a,b,n) :
    u = np.random.uniform(a,b,n)
    return np.mean(f(u))*(b-a)

integrate1 = montecarlo_tipo1(f1, 0.1, 0.3, n)
integrate2 = montecarlo_tipo1(f1, 0.3, 0.5, n)
integrate3 = montecarlo_tipo1(f1, 0.5, 0.7, n)
integrate4 = montecarlo_tipo1(f1, 0.7, 0.9, n)
integrate5 = montecarlo_tipo1(f1, 0.9, 1.1, n)

In [36]:
import pandas as pd
tabla = pd.DataFrame(columns=["integrate1", "integrate2","integrate3","integrate4","integrate5"])
tabla.loc[1,"integrate1"] = integrate1
tabla.loc[1,"integrate2"] = integrate2
tabla.loc[1,"integrate3"] = integrate3
tabla.loc[1,"integrate4"] = integrate4
tabla.loc[1,"integrate5"] = integrate5
tabla

  integrate1 integrate2 integrate3 integrate4 integrate5
1   0.489628    0.30211   0.296832   0.353362   0.465373

In [ ]:
y_03 = 0.1 + 0.489628

In [ ]:
y_05 = y_03 + 0.30211

In [ ]:
y_07 = y_05 + 0.296832

In [ ]:
y_09 = y_07 + 0.353362

In [ ]:
y1_1 = y_09 + 0.465373